<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class= channels>
      <span class="glyphicon glyphicon-bell"></span>
     
      <div class="channel1">
<div>
  <input type="text" placeholder="create channel" [(ngModel)]="addchnl"/>
  <button (click)="addCh()" >Create channel</button><br/>
  <div>
  <ul *ngFor="let channels of channelArray"> 
       <li>{{channels}}</li></ul>
      </div>

</div>

<!-- <div>
      <input type="text" placeholder="add user"  [(ngModel)]="adduser"/>
      <button (click)="addmember()" >add user</button><br/>
</div> -->
  </div>

</div>

<div class=messages>
      <div class="menu">
            <div class="search">
                  <button type="button" class="btn btn-default btn-sm">
                              <span class="glyphicon glyphicon-search"></span> Search 
                            </button>
                        </div>
                        <span class="glyphicon glyphicon-star-empty"></span>
            <!-- <input type="text" placeholder="Search" id="search"> -->
      </div>

      <div class=show>
                  <!-- <button (click)="showMsg()" >show message  </button>  -->
                   <ul *ngFor="let msgdetail of messages">
                     <li>{{msgdetail}}</li>
                    </ul>   
                    </div>       


<div class=send>
      <input type="text" placeholder="send Message"  id="type" [(ngModel)]="sendmsg"  >
      <button (click)="sendMsg()" >send message</button><br/>
</div>

    


</div>

