<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class= channels>
      <!-- <span class="glyphicon glyphicon-bell"></span> -->
      <h2>{{displayname}}</h2>
     
      <div class="channel1">
<div>
  <input id="createCh" type="text" placeholder="create channel" [(ngModel)]="addchnl"/><br/><br/>
  <button (click)="addCh()">Create channel</button><br/><br/>

  <input  id="createCh"  type="text" placeholder="Search Channel here" /><br/><br/>

  <div>
        <h3>Channels</h3>
  <b><ul   *ngFor="let channels of channelArray"> 
       <li id="chnl" (click) = "send(channels)" >{{channels.unique_name}}<button (click)="join(channels)">Join</button></li>
      </ul></b>
</div>

</div>

<!-- <div>
      <input type="text" placeholder="add user"  [(ngModel)]="adduser"/>
      <button (click)="addmember()" >add user</button><br/>
</div> -->
  </div>

</div>

<div class=messages>
      <div class="menu">
            <div class="search">
                  <button type="button" class="btn btn-default btn-sm">
                              <span class="glyphicon glyphicon-search"></span> Search 
                            </button>
                        </div>
                        <span class="glyphicon glyphicon-star-empty"></span>
            <!-- <input type="text" placeholder="Search" id="search"> -->
      </div>

      <div class="show">
                  <!-- <button (click)="showMsg()" >show message  </button>  -->
                   <div *ngFor="let msgdetail of messages">
                         <span class="right" *ngIf="msgdetail.from===id">{{msgdetail.body}}</span><br/>
                         <!-- from {{sendmsg.from}}<br/> -->
                         <span class="left" *ngIf="msgdetail.from!=id">{{msgdetail.body}}</span>
                     
                   </div>   
                    </div>       


<div class="typetext">
      <input type="text" placeholder="send Message"  id="type" [(ngModel)]="sendmsg"  >
      <button id="sendM" (click)="sendMsg()" >send message</button><br/>
</div>


    


</div>

