<div class= channels>
      <!-- <span class="glyphicon glyphicon-bell"></span> -->
      <h2>{{displayname}}</h2>
      <div class="channel1">
        <div>
            <div class="createC">
                  <input id="createCh" type="text" placeholder="create channel" [(ngModel)]="addchnl"/><br/><br/>
                  <button (click)="addCh()">Create Channel</button><br/><br/>
            </div>
            
            <input  type="text" placeholder="Search Channel here" (keyup)= "findCh()" [(ngModel)]=item /><br/><br/>
            <div *ngFor="let channels of channelArray">
                  <span *ngIf="reg.test(channels.unique_name)"> 
                        <span> {{channels.unique_name}}</span>
                  </span>

            </div>
            <div class="Clist">
               <div id="chnlhead"> <i><h3>CHANNELS..</h3></i></div>
                  <div class="Clists">
                    <b><ul *ngFor="let channels of channelArray"> 
                    <li id="chnl" (click) = "send(channels)" >{{channels.unique_name}} &nbsp;<button (click)="join(channels)">Join</button></li>
                    </ul></b>
                  </div>
            </div>

        </div>

      </div>

</div>

<div class=messages>
      <div class="menu">
            <b><i><div id="nameshow">#{{nameshow}}</div></i></b>

            
            <input  type="text" id="search" placeholder="Search...."/>
                     <!-- <span class="glyphicon glyphicon-search"></span> Search  -->
                  
           
                        <div class= "logout">
                            <button (click) = "logout()">Logout</button> 
                            <span class = "glyphicon glyphicon-off"></span> 
                        </div>      
                        
                        <span class="glyphicon glyphicon-star-empty"></span>
            <!-- <input type="text" placeholder="Search" id="search"> -->
      </div>

      <div class="show">
                  <!-- <button (click)="showMsg()" >show message  </button>  -->
                   <div *ngFor="let msgdetail of messages">
                         <span id="right" class="alert alert-success" *ngIf="msgdetail.from===id">{{msgdetail.body}}</span><br/>
                         <!-- from: {{msgdetail.from}}<br/> -->
                         <span id="left" class="alert alert-info" *ngIf="msgdetail.from!=id">{{msgdetail.body}}</span>
                     
                   </div>   
      </div>       


      <div class="typetext">
            <input type="text" class="form-control" placeholder="send Message"  id="type" (keyup.enter)="sendMsg()" [(ngModel)]="sendmsg"  >
            <span id="sendglyph" style="font-size: 24px"><i class= "glyphicon glyphicon-send"></i>  </span>
            <!-- <button id="sendM" (click)="sendMsg()" >send message</button><br/> -->
</div>


    


</div>

