.channels{
    border: 1px solid red;
    height: 100%;
    width: 20%;
    position: absolute;
    background-color:#662658;
}

.channel1{
    margin-top: 50%;
}
.messages{
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin-left: 20%;
    position: absolute;
    }

 .menu{
    /* border: 1px solid #e76b6b; */
    border-bottom: 1px solid gray;
    height: 8%;
    width: 100%;
    position: absolute;
    /* margin-left: 60%; */
    margin-right: 50%;

 }   

 .search{
     /* margin-top: 20%; */
     margin-left: 50%;
     height: 40%;
     width: 60%;
     margin-top: 1%;
     border-radius: 6%;
     position: absolute;
 }

 

 .glyphicon.glyphicon-star-empty {
    font-size: 27px;
    margin-left: 90%;
    margin-top: 1%;
}

.send{
    border: 1px solid black;
    height: 12%;
    width: 100%;
    margin-top: 49%;
    position: absolute;
    /* margin-left: -5%; */
}

#type{
    width: 90%;
    height: 100%;
}

.show{
    border: 1px solid blue;
    height: 75%;
    width: 100%;
    position: absolute;
    /* margin-left: 60%; */
    margin-right: 50%;
    /* margin-left: 30%; */
    margin-top: 5%;
    overflow: auto;
    /* margin-bottom: 50%; */
}